@charset "UTF-8";

body {
    background-color: #00bfffd7;
    max-width: 100%;
}

h1{
    text-align: center;
    color: #ffffff;
}

div#fundo_imagens{
    background-color: #ffffff;
    max-width: 600px;
    min-width: 280px;
    height: 600px;
    margin: auto;
    padding: 10px;
    border-radius: 10px;
    position: relative;
}

p#idade{
    text-align: center;
}

img {
    margin: 60px 0px 0px 0px;
    border-radius: 100%;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    display: none;
    max-width: 100%;
}